<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Electrical Energy Forecasting</title>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="solar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Code Pro">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link href='https://fonts.googleapis.com/css?family=BhuTuka Expanded One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Black Ops One' rel='stylesheet'>
</head>
<body style="">
    <div class="container" style="
    background: linear-gradient(to top, rgba(4, 45, 218, 0.5)50%, rgba(36, 8, 189, 0.5)50%), url(energy-concepts-solarresized.png);
    border: 0.1em solid;
    color: rgb(3, 4, 3);
    border-radius: 1em;
    padding: 1em;
    width: 100% !important;
    margin: 1em;
    font-family: Black Ops One;">
        <h1 class="text-warning text-center" style="font-family: Trirong;">Ten(10) Minutes Interval Solar Energy Forecasting</h1>
        <h2 class="text-warning text-center" style="font-family: Sofia">Enter solar radiation(GHI) below:</h2>
     <!-- Main Input For Receiving Query to our ML -->
     <div class="">
    <form action="{{ url_for('predict')}}"method="post" class="row g-5">
        <div class=" text-center">
              <div class="mb-3 row">
              <label class="col-sm-2 col-form-label border border-warning p-2 mb-2 border-opacity-75 rounded text-warning" for="first_interval" >First interval:</label><br>
              <div class=" col-sm-2">
              <input class="form-control border-warning" type="text" id="first_interval" name="first_interval" required="required">
            </div><br>
            </div>
              <div class="mb-3 row">
                <label class="col-sm-2 col-form-label border border-warning p-2 mb-2 border-opacity-75 rounded text-warning" for="second_interval">Second interval:</label><br>
                <div class="col-sm-2">
                <input class="form-control border-warning" type="text" id="sec_interval" name="second_interval" required="required">
            </div><br>
            </div>
                <div class="mb-3 row">
                <label class="col-sm-2 col-form-label border border-warning p-2 mb-2 border-opacity-75 rounded text-warning" for="third_interval">Third interval:</label><br>
                <div class="col-sm-2">
                <input class="form-control border-warning" type="text" id="third_interval" name="third_interval" required="required">
            </div><br><br>
                </div>
            <div class="mb-3 row">
                <label for="capacity_of_one_panel" class="col-3 rounded col-form-label border border-warning p-2 mb-2 border-opacity-75 text-warning">Capacity of one panel:</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control border-warning" id="capacity_of_one_panel" name="capacity_of_one_panel" required="required">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="number_of_solar_panels" class="col-3 rounded col-form-label border border-warning p-2 mb-2 border-opacity-75 text-warning">Enter area of a panel:</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control border-warning" id="number_of_solar_panels" name="number_of_solar_panels" required="required">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="area_of_panels" class="col-3 rounded col-form-label border border-warning p-2 mb-2 border-opacity-75 text-warning">Enter number of panels:</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control border-warning" id="area_of_panels" name="area_of_panel" required="required">
                </div>
              </div>
            </div>
        <button type="submit" class="btn btn-warning btn-block btn-medium border-warning p-3 mb-lg-4">Predict Solar Energy</button>
    </form>
    <span class="border border-warning border-opacity-75 p-2 rounded text-black">{{ prediction_text }}</span>
   </div>
</div>
</body>
</html>