<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Code Pro">
</head>
<body>
        <table>
            <tr>
                <td>
                    <form action="/register" method="POST, GET">
                        <h2 class="page-header text-black text-center">Sign up</h2>
                        <div class="input-control">
                            <label for="username">Username</label>
                            <input id="username" name="name" type="text"required>
                            <div class="error"></div>
                        </div>
                        <div class="input-control">
                            <label for="email">Email</label>
                            <input id="email" name="mail" type="text" required>
                            <div class="error"></div>
                        </div>
                        <div class="input-control">
                            <label for="password">Password</label>
                            <input id="password"name="password" type="password" required>
                            <div class="error"></div>
                        </div>
                        <div class="input-control">
                            <label for="location">Location</label>
                            <input id="location"name="address" type="text" required>
                            <div class="error"></div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-block" value="Register">
                             <a href="{{url_for('login')}}" class="btn btn-primary btn-block">I have an account!</a>
                        </div>
                        
                    </form>
    
                    <td>
                        <table class="list" id="storeList">
                            <thead>
                                <tr>
                                    <th>Username</th><br><br>
                                    <th>Email</th>
                                    <th>location</th>
                                </tr>
                            </thead>
                            <tbody>
    
                            </tbody>
                        </table>
                    </td>
                </td>
            </tr>
        </table>
</body>
</html>